<h1>List Page</h1>


{{#if isAdmin}}
    <button>Delete Users</button>
{{else}}
    <p>You have no permission to delete users</p>
{{/if}}

<ul>
    {{#each users}}
    {{>user}}
    {{else}}
    <p>No users!</p>
    {{/each}}
</ul>